<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Intern Buddy</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/alphabeticalCompanys">Alphabetical Companies</a>
    <a href="/alphabeticalNames">Alphabetical Names</a>
    <a href="/male">Male Interns</a>
    <a href="/female">Female Interns</a>
    <a href="/microsoft">Microsoft Interns</a>
    <a href="/random">Random Intern from Company</a>
    <a href="/">Home</a>
  </div>
</div>

<body>
  {{{body}}}
  <!-- <button type="button" id="createNew">Enter a Team</button> {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script>
    $('#createNew').on('click', function() {
      console.log("hi");
    });
  </script> -->
</body>

</html>
