<h1>Enter your Intern Profile</h1>


<article>
    <form method="POST" action="/addIntern">
        <div class="input-field">
            <label>Name:</label>
            <input type="text" name="name" size="50" placeholder="Alex Jones">
        </div>
         <div class="input-field">
            <label>Company:</label>
            <input type="text" name="company" size="50" placeholder="Google">
        </div>
        <div class="input-field">
            <label>Age:</label>
            <input type="text" name="age" size="50" placeholder="20">
        </div>
        <div class="input-field">
            <label>Gender:</label>
            <input type="text" name="gender" size="50" placeholder="M (Male: M, Female: F)">
        </div>
        <div class="input-field">
            <label>Phone Number:</label>
            <input type="text" name="number" size="50" placeholder="(676)321-0970">
        </div>
        <div class="input-field">
            <label>Email:</label>
            <input type="text" name="email" size="50" placeholder="alex@gmail.com">
        </div>
        <div class="input-field">
            <label>Characteristics/Interests:</label>
            <input type="text" name="characters" size="50" placeholder="Outgoing,Funny,Hiking (seperated by commas)">
        </div>
        <button type="submit">Submit </button>
    </form>
</article>
